{% extends 'index/base.html' %}


{% block content %}
<br>
<div class="d-flex justify-content-center" style="font-size: large" ;>Add Grocey Items</div>
{% for message in messages %}
{{ message }}
{% endfor %}

<form action="" method="POST" style="margin: 10px 70px 20px 70px">
  {% csrf_token %}

<h6>Item name</h6>
  {{form_grocery.name }}
  <hr>
  <h6>Item quantity</h6>
  {{form_grocery.quantity}}
  <hr>
  <h6>Quantity unit</h6>
  {{form_grocery.qty_unit}}
 <hr>
  <h6>Status</h6>
  {{form_grocery.status}}
 <hr>
 <h6>Date created</h6>
  {{form_grocery.date_created}}
 <hr>
  <center>
    <input type="submit" value="Submit">
  </center>

</form>


{% endblock %}