</html>{% extends 'index/base.html' %}


{% block content %}
<br>
<div class="d-flex justify-content-center" style="font-size: large";>Update Grocey Items</div>

<form>
    <div class="form-group" style="margin: 10px 70px 20px 70px">
      <label for="FormControlInput1" >Item name</label>
      <input type="text" class="form-control"  id="FormControlInput1" placeholder="Item name">
    </div>
    <div class="form-group" style="margin: 10px 70px 20px 70px">
        <label for="FormControlInput1">Item quantity</label>
        <input type="text" class="form-control" id="FormControlInput1" placeholder="Item quantity">
      </div>
      <div class="form-group" style="margin: 10px 70px 20px 70px">
        <label for="FormControlSelect1">Quantity unit</label>
        <select class="form-control" id="FormControlSelect1">
          <option>Kgs</option>
          <option>gms</option>
          <option>ltr</option>
          <option>pcs</option>
        </select>
      </div>
    <div class="form-group" style="margin: 10px 70px 20px 70px">
      <label for="FormControlSelect1">Item status</label>
      <select class="form-control" id="FormControlSelect1">
        <option>BOUGHT</option>
        <option>PENDING</option>
        <option>NOT AVAILABLE</option>
      </select>
    </div>
    {% include 'index/date_update.html' %}

  </form>


{% endblock %}